/* Reset */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Segoe UI", Tahoma, sans-serif;
}

/* Page Wrapper */
.dashboard-wrapper {
  display: flex;
  flex-direction: column;
  height: 100vh;
  background-color: white;
}

/* Topbar */
.topbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 70px;
  padding: 0 30px;
  background-color: #6dd2dc;
  color: #ffffff;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.15);
}

.topbar h2 {
  font-size: 1.6rem;
  font-weight: 600;
}

.topbar button {
  padding: 8px 16px;
  background-color: #0c8520;
  color: #ffffff;
  border: none;
  border-radius: 6px;
  cursor: pointer;
  font-weight: 600;
  transition: 0.3s ease;
}

.topbar button:hover {
  background-color: #046d1e;
}

/* Layout wrapper */
.content-wrapper {
  display: flex;
  flex: 1;
  overflow: hidden;
}

/* Sidebar */
.sidebar {
  width: 240px;
  background-color: #5066ac;
  color: #e5e7eb;
  padding: 20px 0;
  display: flex;
  flex-direction: column;
  box-shadow: 2px 0 5px rgba(0, 0, 0, 0.2);
}

.sidebar ul {
  list-style: none;
}

.sidebar li {
  margin-bottom: 5px;
}

.sidebar a {
  text-decoration: none;
  color: #9ca3af;
  font-size: 15px;
  display: flex;
  align-items: center;
  padding: 12px 25px;
  gap: 12px;
  transition: all 0.3s ease;
  border-left: 4px solid transparent;
}

.sidebar a span {
  font-weight: 500;
}

.sidebar a:hover {
  background-color: #2f5892;
  color: #ffffff;
}

.sidebar a.active {
  background-color: white;
  color: rgb(19, 19, 19);
  border-left: 4px solid #7eb108;
}

/* Main content */
.main-content {
  flex: 1;
  padding: 25px;
  background-color:black;
  overflow-y: auto;
  border-top-left-radius: 12px;
}

/* Custom Scrollbar */
.main-content::-webkit-scrollbar {
  width: 8px;
}

.main-content::-webkit-scrollbar-thumb {
  background-color: #43398f;
  border-radius: 4px;
}

/* Responsive */
@media (max-width: 768px) {
  .content-wrapper {
    flex-direction: column;
  }

  .sidebar {
    width: 100%;
    flex-direction: row;
    overflow-x: auto;
  }

  .sidebar ul {
    display: flex;
    flex-direction: row;
  }

  .sidebar li {
    margin: 0;
  }

  .sidebar a {
    padding: 12px 15px;
  }

  .main-content {
    border-radius: 0;
  }
}
